<aside class="sidebar">
    <div class="logo-container">
        <img src="https://upload.wikimedia.org/wikipedia/id/0/0d/Logo_Universitas_Negeri_Jakarta.png" alt="Logo UNJ" class="logo-img">
    </div>

    <ul class="nav-links">
        <li>
            <a href="#" class="active"><i class="fa-solid fa-table-cells-large"></i> Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-file-pen"></i> Pengajuan</a>
        </li>
        <div class="sub-menu">
            <a href="#">Menunggu</a>
            <a href="#">Disetujui</a>
            <a href="#">Ditolak</a>
        </div>

        <li>
            <a href="#"><i class="fa-solid fa-list"></i> Daftar Ruangan</a>
        </li>
        <li>
            <a href="#"><i class="fa-regular fa-calendar"></i> Jadwal</a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-gear"></i> Pengaturan</a>
        </li>
        <li>
            <a href="/login"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
        </li>
    </ul>
</aside>