<nav>
  <div class="left">
    <img src="/assets/logo-unj.png" alt="Logo" />
    <span>E-Ruang UNJ</span>
  </div>


  <div class="menu">
    <a href="#" class="active">Beranda</a>
    <a href="#">About</a>
    <a href="#">Daftar Ruangan</a>
    <a href="/history">Riwayat</a>
  </div> 


  <div class="buttons">
    <a href="/register"><button class="btn">Register</button></a>
    <a href="/login"><button class="btn login">Log In</button></a>
  </div>
</nav>
