<nav>
  <div class="left">
    <span>E-Ruang UNJ</span>
  </div>


  <div class="menu">
    <a href="#" class="active">Beranda</a>
    <a href="#">About</a>
    <a href="#">Daftar Ruangan</a>
    <a href="#">Riwayat</a>
  </div> 


  <div class="buttons">
    <button class="btn">Register</button>
    <button class="btn login">Log In</button>
  </div>
</nav>
<hr/>
