nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background: #1E222D;
    border-bottom: 2px solid #4DA8E4;
}


.left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 20px;
}


.left img {
    width: 45px;
}


.menu {
    display: flex;
    gap: 40px;
}


.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


.menu a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #4DA8E4;
    border-radius: 3px;
}


.buttons {
    display: flex;
    gap: 15px;
}


.btn {
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    border: 2px solid #4DA8E4;
    background: transparent;
    color: white;
}


.btn.login {
    background: #63B7F7;
    border: none;
    color: #1E222D;
}